body
{
    background-color: #212529;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #212529;
    color: white;
}

.containerForm
{
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.colorText
{
    transition: 0.5s;
    background-color: #8808FA;
    border-color: #8808FA;
}