.color 
{
    border-color: white;
    color: black;
    padding-bottom: 0.1px;
    border-bottom: 2px solid white;
    margin-bottom: 8px;
    transition: 0.5s;
    background-color: white;
    border-right: 2px solid white;
    padding-top: 0;
    cursor: pointer;
    margin-top: 5px;

}


.color:hover
{
    transition: 0.5s;
    color: black;
    background-color: white;
    border-color: white;
    border-bottom: 2px solid black;
    padding-bottom: 0.1px;
    padding-top: 0;
    margin-bottom: 8px; 
    margin-top: 5px;
}

.main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title 
{
    font-size: 3rem;
    color: #333;
}

.text 
{
    font-size: 1.3rem;
    color: #555;
    margin: 5px;
}